[Unit]
Description=RCC auto deploy
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/var/www/html/rcc-system
ExecStart=/bin/bash /var/www/html/rcc-system/scripts/auto-deploy.sh
